[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/solmate"]
	path = contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "contracts/lib/permit2"]
	path = contracts/lib/permit2
	url = https://github.com/uniswap/permit2
[submodule "contracts/lib/universal-router"]
	path = contracts/lib/universal-router
	url = https://github.com/uniswap/universal-router
[submodule "contracts/lib/Dyson-Finance-V1"]
	path = contracts/lib/Dyson-Finance-V1
	url = https://github.com/DysonFinance/Dyson-Finance-V1
